@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --animate-kenburns: kenburns 30s ease-out infinite alternate;
  @keyframes kenburns {
    0% { transform: scale(1); }
    100% { transform: scale(1.15); }
  }
}
